Follow the above instructions provided in the system role and process the input given below to generate the output in the specified formate.  

[INPUTS]  
**QUESTION**: {{ ques | default('No question provided') }}
**CHAT**: {{ chat | default('This is the first conversation so the chat history is empty') }} 

